.div1{
    padding:0px;
}
form{
    padding: 0px 10px 0px 10px;
}
.btn{
    margin: 0px 5px 0px 5px;
}
.div2{
    text-align: center;
    background:url(https://images.unsplash.com/photo-1616098851246-fc12488ffe97?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
    color: rgb(226, 226, 226);
}
.content{
    display: inline-block;
    margin: 10px auto;
}
.footer {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}